@font-face{
	font-family:"g98fx";
	src:url("font_g98fx");
}
body{
	font-family:"g98fx";
	background:url("bg.jpg");
}
#header{
	height:5%;
	background-color:rgb(212,212,213);
	color:black;
	top:0px;
	box-shadow:0px 0px 10px black;
	z-index:5;
}
#nagi{
	position:fixed;
	width:10%;
	height:95%;
	left:0px;
	top:5%;
	box-shadow:0px 0px 10px black;
	box-sizing:border-box;
	margin:auto;
	z-index:1;
	text-align:center;
	color:white;
	overflow:auto;
}
#footer{
	height:3%;
	background-color:rgb(212,212,213);
	color:black;
	bottom:0px;
	box-shadow:0px 0px 10px black;
	z-index:5;
}
.fixedBar{
	position:fixed;
	width:100%;
	left:0px;
	opacity:0.7;
}
#view{
	position:fixed;
	width:90%;
	height:95%;
	left:10%;
	top:5%;
	text-align:center;
}

.blogs{
	width:150px;
	height:120px;
	box-shadow:0px 0px 5px white;
	margin:auto;
	border-radius:5px;
	display:inline-block;
	background-color:rgb(255,255,255);
	opacity:0.5;
	font-size:15px;
	text-align:center;
	color:black;
}
.blog_header_img{
	width:90%;
	height:70%;
	margin:5%;
	border-radius:8px;
}
#control{
	position:fixed;
	right:0;
	top:0;
	margin:5px;
}
.buttons{
	display:inline-block;
	border-radius:5px;
	box-shadow:0px 0px 3px black;
	background-color:white;
	border:3px solid white;
}
.viewIframes{
	position:relative;
	top:1%;
	bottom:2%;
	background-color:white;
	display:block;
}
.viewIframeDiv{
	position:relative;
	top:1%;
	bottom:1%;
	opacity:0.5;
	border-radius:3px;
	border:3px solid white;
	background-color:white;
	box-shadow:0px 0px 15px white;
	display:inline-block;
}
.viewButtons{
	position:relative;
	display:block;
	box-shadow:0px 0px 0px white;
}
