#protect{
	position:fixed;
	height:100%;
	width:100%;
	top:0px;
	left:0px;
	background-color:black;
	color:white;
	z-index:100;
}
#header{
	position:fixed;
	width:100%;
	left:0px;
	opacity:0.7;
	z-index:1;
	height:5%;
	background-color:rgb(212,212,213);
	color:black;
	top:0px;
	box-shadow:0px 0px 10px black;
}
#nagi{
	position:fixed;
	width:10%;
	height:95%;
	left:0px;
	top:5%;
	box-shadow:0px 0px 10px black;
	box-sizing:border-box;
	z-index:1;
	text-align:center;
	color:white;
	overflow:auto;
	opacity:0.9;
	background-color:rgb(0,0,0);
}
#view{
	position:fixed;
	width:90%;
	height:95%;
	left:10%;
	top:5%;
	text-align:center;
}
.blogs{
	width:15%;
	height:15%;
	box-shadow:0px 0px 5px white;
	margin:1% 1%;
	border-radius:3px;
	display:inline-block;
	background-color:rgb(255,255,255);
	font-size:15px;
	text-align:center;
	color:black;
}
.blog_header_img{
	width:90%;
	height:70%;
	margin:5%;
	border-radius:4px;
}
#control{
	position:fixed;
	right:0;
	top:0;
	margin:5px;
}
.buttons{
	display:inline-block;
	border-radius:5px;
	box-shadow:0px 0px 3px black;
	background-color:white;
	border:3px solid white;
}
.viewIframes{
	position:relative;
	top:1%;
	left:-2%;
	bottom:2%;
	background-color:white;
	display:inline-block;
	border-radius:5px;
}
.viewIframeDiv{
	position:relative;
	top:1%;
	bottom:1%;
	opacity:0.9;
	border-radius:3px;
	border:3px solid white;
	background-color:white;
	box-shadow:0px 0px 15px white;
	display:inline-block;
}
.viewButtons{
	position:relative;
	display:block;
	box-shadow:0px 0px 0px white;
}
.viewComments{
	position:relative;
	width:10%;
	display:inline-block;
	position:relative;
	border-radius:5px;
	opacity:0.7;
	overflow:scroll;
	margin:auto;
	word-break:break-all;
	word-wrap:break-word;
}
input{
	border-radius:3px;
	height:3%;
	display:block;
	border:0px solid white;
	text-align:center;
	opacity:0.7;
	z-index:15;
}
#searchIn{
	bottom:1%;
	position:fixed;
	z-index:15;
}
#searchGlobal{
	top:1%;
	right:1%;
	position:fixed;
}
.commenters{
	width:80%;
}
p{
font-size:15px;
}
