#protect{
	position:fixed;
	height:100%;
	width:100%;
	top:0px;
	left:0px;
	background-color:black;
	color:white;
	z-index:100;
}
#backgroundCanvas{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	/*background:url('https://www.talklee.com/api/bing/');*/
	background-color:white;
	background-size: cover;
	opacity: 0.8;
	z-index:-1;
}
#header{
	position:fixed;
	width:100%;
	left:0px;
	z-index:1;
	height:5%;
	background-color:rgb(0,0,1);
	color:white;
	top:0px;
	box-shadow:0px 0px 10px black;
	font-size:150%;
	margin:auto;
}
#nagi{
	position:fixed;
	width:10%;
	height:95%;
	left:0px;
	top:5%;
	box-shadow:0px 0px 10px black;
	box-sizing:border-box;
	text-align:center;
	color:white;
	overflow:auto;
	z-index:1;
}
#view{
	position:fixed;
	width:90%;
	height:95%;
	left:10%;
	top:5%;
	text-align:center;
	
}
.blogs{
	height:15%;
	margin:1% 1%;
	border:1px solid black;
	border-radius:3px;
	display:inline-block;
	background-color:rgb(255,255,255);
	font-size:15px;
	text-align:center;
	color:black;
}
.blog_header_img{
	width:95%;
	margin:1% 1%;
	height:70%;
	border-radius:3px;
}
#control{
	position:fixed;
	right:0;
	top:0;
	margin:5px;
}
.viewIframes{
	position:relative;
	display:inline-block;
	border-radius:5px;
}
.viewIframeDiv{
	position:relative;
	border-radius:3px;
	box-shadow:0px 0px 5px black;
	background-color:white;
	display:inline-block;
	top:2%;
	left:0;
}
.viewButtons{
	position:relative;
	display:block;
	background-color:red;
	border-radius:8px;
	border:3px solid white;
	color:white;
	height:3%;
	font-size:100%;
}
.viewComments{
	position:relative;
	width:10%;
	display:inline-block;
	position:relative;
	border-radius:5px;
	opacity:0.7;
	overflow:scroll;
	margin:auto;
	word-break:break-all;
	word-wrap:break-word;
}
input{
	border-radius:3px;
	height:3%;
	display:block;
	border:0px solid white;
	text-align:center;
	opacity:0.7;
	z-index:15;
}
#searchIn{
	bottom:1%;
	position:fixed;
	z-index:15;
	border:1px solid black;
	border-radius:3px;
}
#searchGlobal{
	top:1%;
	right:1%;
	position:fixed;
}
.commenters{
	width:80%;
}
p{
	font-size:15px;
	color:rgb(100,100,120);
	display:inline-block;
}
